.wcedd_button {
    display: inline-block;
    padding: 10px 45px;
    color: #fff;
    background: #0473aa;
    text-decoration: none!important;
    border-radius:2px;
}
.wcedd_button:hover {
    color: #fff;
    background:#191e23;
}
.wcedd-spacer {
    margin: 40px 0;
    border-top: 1px solid #ccc;
    opacity: .6;
}